<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="TRANSFER_ENDPOINT"      value="127.0.0.1:2021"/>
		<add key="SSO_LOGIN_URL"          value="http://test-sso.szprl.com/Validate.ashx" />
		<add key="SSO_LOGOUT_URL"         value="http://test-sso.szprl.com/logout.aspx" />
		<add key="SSO_TICKET_SERVICE_URL" value="http://test-sso.szprl.com/Ticket.asmx" />
		<add key="SSO_MODULE_IGNORE_PATH" value="/sso/;" />
		<add key="SERVICE_ID"             value="f161c303fdef" />
		<add key="SECRET_KEY"             value="Nkha@DAZ" />
		<add key="ACCESS_TICKET_COOKIE"   value="AccessTicketCookie" />
		<add key="AUTH_COOKIES"           value="" />
		<add key="LOGIN_URL"              value="/sso/login?ReturnUrl={ReturnUrl}" />
		<add key="ENABLE_LOGGING"         value="true" />
	</appSettings>
	<connectionStrings/>
	<system.web>
		<httpRuntime targetFramework="4.5" />
		<compilation debug="true" targetFramework="4.5"/>
		<authentication mode="Forms">
			<forms defaultUrl="/default.htm" loginUrl="/sso/login" timeout="1440" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<customErrors mode="Off"/>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="sso_login_page" path="sso/login" verb="*" type="Indigox.SSO.Client.Web.LoginHandler, Indigox.SSO.Client" />
		</handlers>
		<modules>
			<add name="sso_module" type="Indigox.SSO.Client.Web.SSOModules, Indigox.SSO.Client" />
		</modules>
		<webSocket
			enabled="true"
			receiveBufferLimit="4194304"
			pingInterval="00:01:00" />
		<httpErrors errorMode="Detailed" />
	</system.webServer>
</configuration>